html, body
{
	height: 100%;
	margin: 0;
	background-color:#FBFA9D;
	font-family: serif;
}

.bloc_page
{
	display: flex;
	width:95%;
	min-height: 100vh; /* toute la hauteur de la fenêtre */
	margin: auto;
}

.left
{
	background-color: #F0F080;
	flex: 20%;
	padding: 20px 20px;
	padding-top:60px;
	float: left;
}

.left #Photo
{
	text-align:center;
	vertical-align: top;
}

.left #logo
{
	height:35px;
	margin:10px 10px;
}

.left #alllogos
{
	text-align:center;
	margin:20px;
}

.right
{
	flex: 80%;
	padding: 0px 20px;
	float: left;
}

.right h1
{
	font-size:30px;
	text-align:center;
}

.right h2
{
	font-size:20px;
}

.right p
{
	font-size:14px;
	text-align:justify;
	margin:7px 10px;
}

.right a
{
	font-size:14px;
	color:blue;
	text-decoration:none;
	font-style: normal;
	font-weight:normal;
}

.right a:hover
{
	font-size:14px;
	color:blue;
	text-decoration:none;
	font-style: italic;
	font-weight:normal;
}

.right a:visited
{
	font-size:14px;
	color:blue;
	text-decoration:none;
	font-style: normal;
	font-weight:normal;
}

.right a:visited:hover
{
	font-size:14px;
	color:blue;
	text-decoration:none;
	font-style: italic;
	font-weight:normal;
}
