html, body
{
	height: 100%;
	margin: 0;
	background-color:#FBFA9D;
	font-family: serif;
}

.bloc_page
{
	display: flex;
	width:85%;
	min-height: 100vh; /* toute la hauteur de la fenêtre */
	margin: auto;
}

.left
{
	background-color: #F0F080;
	flex: 25%;
	padding: 20px 20px;
	padding-top:77px;
	float: left;
}

.left #Photo
{
	text-align:center;
	vertical-align: top;
}

.left #logo
{
	height:35px;
	margin:10px 10px;
}

.left #alllogos
{
	text-align:center;
	margin:20px;
}

.right
{
	background-color:#FBFA9D;
	flex: 75%;
	padding: 0px 0px;
	float: left;
}

.right h1
{
	font-size:30px;
	text-align:center;
	background-color: #F0F080;
	margin: 0px 0px;
	padding: 20px 0px;
}

.right #skills
{
	background-color: #FBFABD;
	padding:1px 0px;
}

.right #shortcv
{
	background-color: #FBFA9D;
	padding:1px 0px;
}

.right #publications
{
	background-color: #FBFABD;
	padding:1px 0px;
}

.right #conferences
{
	background-color: #FBFA9D;
	padding:1px 0px;
}

.right #researchtopics
{
	background-color: #FBFABD;
	padding:1px 0px;
}

.right #button
{
	cursor: pointer;
}

.right h2
{
	font-size:25px;
	margin:10px 20px;
}

.right p
{
	font-size:14px;
	text-align:justify;
	margin:10px 30px;
}

.right a
{
	font-size:14px;
	color:blue;
	text-decoration:none;
	font-style: normal;
	font-weight:normal;
}

.right a:hover
{
	font-size:14px;
	color:blue;
	text-decoration:none;
	font-style: italic;
	font-weight:normal;
}

.right a:visited
{
	font-size:14px;
	color:blue;
	text-decoration:none;
	font-style: normal;
	font-weight:normal;
}

.right a:visited:hover
{
	font-size:14px;
	color:blue;
	text-decoration:none;
	font-style: italic;
	font-weight:normal;
}
